<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Consumer</title>
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/plugins/morrisjs/morris.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/colors/blue.css" id="theme" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

</head>

<body class="fix-header fix-sidebar card-no-border" ng-app="App">
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<div id="main-wrapper">
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">
                    <img src="../assets/images/logo-icon.png" alt="homepage" class="dark-logo"/>
                    <img src="../assets/images/logo-light-icon.png" alt="homepage" class="light-logo"/>
                    <img src="../assets/images/logo-light-text.png" class="light-logo" alt="homepage"/>
                </a>
            </div>
            <div class="navbar-collapse">
                <ul class="navbar-nav mr-auto mt-md-0">
                    <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                                            href="javascript:void(0)"><i class="mdi mdi-menu"></i></a></li>
                    <li class="nav-item m-l-10"><a
                            class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark"
                            href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="left-sidebar">
        <div class="scroll-sidebar">
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="nav-devider"></li>
                    <li class="nav-small-cap">Навігація</li>

                    <li><a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-table"></i><span class="hide-menu">Таблиці</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="region.html">Регіон</a></li>
                            <li><a href="mtc.html">АТС</a></li>
                            <li><a href="street.html">Вулиця</a></li>
                            <li><a href="phonenumber.html">Номер користувача</a></li>
                            <li><a href="consumer.html">Користувач</a></li>
                            <li><a href="number.html">Номер телефона</a></li>
                            <li><a href="city.html">Міста</a></li>
                            <li><a href="call.html">Дзвінки</a></li>
                            <li><a href="queue.html">Черга</a></li>
                        </ul>
                    </li>

                    <li><a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-table"></i><span class="hide-menu">Запити</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="query1.html">Запит 1</a></li>
                            <li><a href="query2.html">Запит 2</a></li>
                            <li><a href="query3.html">Запит 3</a></li>
                            <li><a href="query4.html">Запит 4</a></li>
                            <li><a href="query5.html">Запит 5</a></li>
                            <li><a href="query6.html">Запит 6</a></li>
                            <li><a href="query7.html">Запит 7</a></li>
                            <li><a href="query8.html">Запит 8</a></li>
                            <li><a href="query9.html">Запит 9</a></li>
                            <li><a href="query10.html">Запит 10</a></li>
                            <li><a href="query11.html">Запит 11</a></li>
                            <li><a href="query12.html">Запит 12</a></li>
                            <li><a href="query13.html">Запит 13</a></li>
                            <li><a href="query14.html">Запит 14</a></li>
                            <li><a href="query15.html">Запит 15</a></li>
                            <li><a href="query16.html">Запит 16</a></li>
                            <li><a href="query17.html">Запит 17</a></li>
                            <li><a href="query18.html">Запит 18</a></li>
                            <li><a href="query19.html">Запит 19</a></li>
                            <li><a href="query20.html">Запит 20</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
    </aside>


    <div class="page-wrapper">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 style="padding-left: 20px " class="text-themecolor">Користувач</h3>
            </div>
            <div>
            </div>
        </div>


        <div class="col-lg-12 col-sm-12 col-md-12">

            <div class="card" ng-controller="Consumer as ctrl">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>ім'я</th>
                                <th>фімілія</th>
                                <th>стать</th>
                                <th>вік</th>
                                <th>баланс</th>
                                <th>пільговик</th>
                                <th>номер телефона</th>
                                <th>підключений</th>
                                <th class="text-right">
                                    <button type="button" class="btn-success" data-toggle="modal" data-target="#addModal"
                                            style="width: 63px" ng-click="ctrl.startInsertConsumer()">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in consumers">
                                <td scope="row">{{item.id}}</td>
                                <td scope="row">{{item.firstName}}</td>
                                <td scope="row">{{item.lastName}}</td>
                                <td scope="row">{{item.sex}}</td>
                                <td scope="row">{{item.age}}</td>
                                <td scope="row">{{item.balance}}</td>
                                <td scope="row">{{item.beneficiary?'Так':'Ні'}}</td>
                                <td scope="row">{{item.phonenumber.number.number}}</td>
                                <td scope="row">{{item.connected?'Так':'Ні'}}</td>
                                <td scope="row" class="text-right">
                                    <button type="button" class="btn-warning" data-toggle="modal" data-target="#updateModal"
                                            ng-click="ctrl.startUpdateConsumer(item.id,item.firstName,item.lastName,item.sex,item.age,item.balance,item.beneficiary,item.phonenumber.id,item.connected)"
                                            style="width: 30px">
                                        <i class="fas fa-pencil-alt"></i>
                                    </button>
                                    <button type="button" class="btn-danger" ng-click="ctrl.delFromConsumer(item.id)"
                                            style="width: 30px">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <!--добавление Consumer-->
                    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addModalLabel">Додавання запису</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center">
                                    <h4>Введіть ім'я</h4>
                                    <input class="form-control" type="text" id="ConsumerFirstName">
                                    <br>
                                    <h4>Введіть фамілію</h4>
                                    <input class="form-control" type="text" id="ConsumerLastName">
                                    <br>
                                    <h4>Вкажіть стать</h4>
                                    <select class="form-control" id="ConsumerSex">
                                        <option>Чоловік</option>
                                        <option>Жінка</option>
                                    </select>
                                    <br>
                                    <h4>Введіть вік</h4>
                                    <input class="form-control" type="text" id="ConsumerAge">
                                    <br>
                                    <h4>Введіть баланс</h4>
                                    <input class="form-control" type="text" id="ConsumerBalance">
                                    <br>
                                    <h4>Пільговик?</h4>
                                    <input type="checkbox" class="form-check-input" id="ConsumerBeneficiary">
                                    <label class="form-check-label" for="ConsumerBeneficiary"></label>
                                    <br>
                                    <select class="form-control" id="ConsumerPhonenumber">
                                    </select>
                                    <br>
                                    <h4>Підключений до звязку?</h4>
                                    <input type="checkbox" class="form-check-input" id="ConsumerConnected">
                                    <label class="form-check-label" for="ConsumerConnected"></label>
                                    <br>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                                    <button type="button" class="btn btn-primary" ng-click="ctrl.insertToConsumer()">Додати</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--обновленіє Consumer-->
                    <div class="modal fade" id="updateModal" tabindex="-2" role="dialog" aria-labelledby="updateModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="updateModalLabel">Обновлення запису</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center">
                                    <div style="display: none;" id="ConsumerIdUPD"></div>
                                    <h4>Введіть ім'я</h4>
                                    <input class="form-control" type="text" id="ConsumerFirstNameUPD">
                                    <br>
                                    <h4>Введіть фамілію</h4>
                                    <input class="form-control" type="text" id="ConsumerLastNameUPD">
                                    <br>
                                    <h4>Вкажіть стать</h4>
                                    <select class="form-control" id="ConsumerSexUPD">
                                        <option>Чоловік</option>
                                        <option>Жінка</option>
                                    </select>
                                    <br>
                                    <h4>Введіть вік</h4>
                                    <input class="form-control" type="text" id="ConsumerAgeUPD">
                                    <br>
                                    <h4>Введіть баланс</h4>
                                    <input class="form-control" type="text" id="ConsumerBalanceUPD">
                                    <br>
                                    <h4>Пільговик?</h4>
                                    <input type="checkbox" class="form-check-input" id="ConsumerBeneficiaryUPD">
                                    <label class="form-check-label" for="ConsumerBeneficiaryUPD"></label>

                                    <br>
                                    <select class="form-control" id="ConsumerPhonenumberUPD">
                                    </select>
                                    <br>
                                    <h4>Підключений до звязку?</h4>
                                    <input type="checkbox" class="form-check-input" id="ConsumerConnectedUPD">
                                    <label class="form-check-label" for="ConsumerConnectedUPD"></label>
                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                                    <button type="button" class="btn btn-primary" ng-click="ctrl.updateConsumer()">Обновити</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>

<script type="text/javascript" src="js/consumer.js"></script>


<script src="../assets/plugins/jquery/jquery.min.js"></script>
<script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="js/jquery.slimscroll.js"></script>
<script src="js/waves.js"></script>
<script src="js/sidebarmenu.js"></script>
<script src="../assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="js/custom.min.js"></script>
<script src="../assets/plugins/sparkline/jquery.sparkline.min.js"></script>
<script src="../assets/plugins/raphael/raphael-min.js"></script>
<script src="../assets/plugins/morrisjs/morris.min.js"></script>
<script src="js/dashboard1.js"></script>


</body>

</html>
