<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Working</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="App">
    <div class="container-fluid" style="text-align: center;">
        <div class="row" style="text-align: center;">
            <button class="col-sm-6 button8" id="b1" onclick="off('b1','Information','DataBase')">Отримати інформацію
            </button>
            <button class="col-sm-6 button8" id="b2" onclick="off('b2','DataBase','Information')">Редактувати базу данних
            </button>
        </div>
    </div>
    <br>
    <br>
    <div id="DataBase" style="display: none;" ng-controller="Ctrl as ctrl">
        <div class="container-fluid">
            <div class="row" style="text-align: center;">
                <button class="col-sm-2 button6" id="t1" onclick="off2('t1')">АТС</button>
                <button class="col-sm-2 button6" id="t3" onclick="off2('t3')">Номера</button>
                <button class="col-sm-2 button6" id="t4" onclick="off2('t4')">Телефоні номера</button>
                <button class="col-sm-2 button6" id="t5" onclick="off2('t5')">Користувачі</button>
                <button class="col-sm-2 button6" id="t7" onclick="off2('t7')">Таксофони</button>
                <button class="col-sm-2 button6" id="t8" onclick="off2('t8')">Черга</button>
                <button class="col-sm-2 button6" id="t9" onclick="off2('t9')">Вулиці</button>
                <button class="col-sm-2 button6" id="t10" onclick="off2('t10')">Регіони</button>
                <button class="col-sm-2 button6" id="t11" onclick="off2('t11')">Звінки</button>
                <button class="col-sm-2 button6" id="t12" onclick="off2('t12')">Міста</button>
            </div>
            <br>
            <div style="display: none;" id="comp1">
                <div>
                    <table class="table table-sm table-dark" id = "table1">
                        <thead>
                            <tr>
                                <th>ідентифікатор</th>
                                <th>тип АТС</th>
                                <th>назва</th>
                                <th width="100px">
                                    <button type="button" class="btn-success" data-toggle="modal" data-target="#myModal" style="width: 80px">
                                        +
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in mtces">
                                <th scope="row">{{item.id}}</th>
                                <td scope="row">{{item.atcType}}</td>
                                <td scope="row">{{item.name}}</td>
                                <td scope="row">
                                    <button type="button" class="btn-danger" ng-click="ctrl.delFromMTC(item.id,this)" style="width: 40px">
                                        X
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--добавление MTC-->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Добавлення</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Введіть назву АТС
                            <input type="text" name="ATCName" id="ATCName">
                            <br><br>

                            Виберіть тип АТС
                            <select name="ATCType" id="ATCType">
                                <option value="Міський">Міський</option>
                                <option value="Відомчий">Відомчий</option>
                                <option value="Установчий">Установчий</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                            <button type="button" ng-click="ctrl.insertToMTC()" class="btn btn-primary">Добавити</button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: none;" id="comp3">
                <div>
                    <table class="table table-sm table-dark">
                        <thead>
                            <tr>
                                <th>ідентифікатор</th>
                                <th>номер телефона</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in numbers">
                                <th scope="row">{{item.id}}</th>
                                <th scope="row">{{item.number}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="display: none;" id="comp4">
                <div>
                    <table class="table table-sm table-dark">
                        <thead>
                            <tr>
                                <th>ідентифікатор</th>
                                <th>номер телефона</th>
                                <th>номер будинку</th>
                                <th>квартира</th>
                                <th>міжмісто</th>
                                <th>тип телефону</th>
                                <th>вулиця</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in phonenumbers">
                                <th scope="row">{{item.id}}</th>
                                <td scope="row">{{item.number.number}}</td>
                                <td scope="row">{{item.houseNumber}}</td>
                                <td scope="row">{{item.apartment}}</td>
                                <td scope="row">{{item.interspace?'Так':'Ні'}}</td>
                                <td scope="row">{{item.phoneType}}</td>
                                <td scope="row">{{item.street.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="display: none;" id="comp5">
                <div>
                    <table class="table table-sm table-dark">
                        <thead>
                            <tr>
                                <th>ідентифікатор</th>
                                <th>ім'я</th>
                                <th>фімілія</th>
                                <th>стать</th>
                                <th>вік</th>
                                <th>баланс</th>
                                <th>пільговик</th>
                                <th>номер телефона</th>
                                <th>підключений</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in consumers">
                                <th scope="row">{{item.id}}</th>
                                <td scope="row">{{item.firstName}}</td>
                                <td scope="row">{{item.lastName}}</td>
                                <td scope="row">{{item.sex}}</td>
                                <td scope="row">{{item.age}}</td>
                                <td scope="row">{{item.balance}}</td>
                                <td scope="row">{{item.beneficiary?'Так':'Ні'}}</td>
                                <td scope="row">{{item.phonenumber.number.number}}</td>
                                <td scope="row">{{item.connected?'Так':'Ні'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="display: none;" id="comp7">
                <div>
                    <table class="table table-sm table-dark">
                        <thead>
                            <tr>
                                <th>ідентифікатор</th>
                                <th>номер телефона</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in payphones">
                                <th scope="row">{{item.id}}</th>
                                <td scope="row">{{item.phonenumber.number.number}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="display: none;" id="comp8">
                <div>
                    <table class="table table-sm table-dark">
                        <thead>
                            <tr>
                                <th>ідентифікатор</th>
                                <th>ім'я</th>
                                <th>фамілія</th>
                                <th>стать</th>
                                <th>вік</th>
                                <th>вулиця</th>
                                <th>номер будинку</th>
                                <th>квартира</th>
                                <th>пільговик</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in queues">
                                <th scope="row">{{item.id}}</th>
                                <td scope="row">{{item.firstName}}</td>
                                <td scope="row">{{item.lastName}}</td>
                                <td scope="row">{{item.sex}}</td>
                                <td scope="row">{{item.age}}</td>
                                <td scope="row">{{item.street.name}}</td>
                                <td scope="row">{{item.houseNumber}}</td>
                                <td scope="row">{{item.apartment}}</td>
                                <td scope="row">{{item.beneficiary?'Так':'Ні'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="display: none;" id="comp9">
                <div>
                    <table class="table table-sm table-dark">
                        <thead>
                            <tr>
                                <th>ідентифікатор</th>
                                <th>назва</th>
                                <th>регіон</th>
                                <th>індекс</th>
                                <th>кількість каналів</th>
                                <th>атс</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in streets">
                                <th scope="row">{{item.id}}</th>
                                <td scope="row">{{item.name}}</td>
                                <td scope="row">{{item.region.name}}</td>
                                <td scope="row">{{item.index}}</td>
                                <td scope="row">{{item.channels}}</td>
                                <td scope="row">{{item.mtc.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="display: none;" id="comp10">
                <div>
                    <table class="table table-sm table-dark">
                        <thead>
                            <tr>
                                <th>ідентифікатор</th>
                                <th>назва</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in regions">
                                <th scope="row">{{item.id}}</th>
                                <td scope="row">{{item.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="display: none;" id="comp11">
                <div>
                    <table class="table table-sm table-dark">
                        <thead>
                            <tr>
                                <th>ідентифікатор</th>
                                <th>номер звідки звонили</th>
                                <th>номер куда звонили</th>
                                <th>місто звідки звонили</th>
                                <th>місто куда звонили</th>
                                <th>дата</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in calls">
                                <th scope="row">{{item.id}}</th>
                                <td scope="row">{{item.whoCallNumber}}</td>
                                <td scope="row">{{item.toWhomCallNumber}}</td>
                                <td scope="row">{{item.cityWhoCall.name}}</td>
                                <td scope="row">{{item.cityToWhomCall.name}}</td>
                                <td scope="row">{{item.data}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="display: none;" id="comp12">
                <div>
                    <table class="table table-sm table-dark">
                        <thead>
                            <tr>
                                <th>ідентифікатор</th>
                                <th>назва</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in cities">
                                <th scope="row">{{item.id}}</th>
                                <td scope="row">{{item.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="Information" style="display: none;">
        <div class="container-fluid">
            <div class="row" style="text-align: center;">
                <button class="col-sm-2 button6" id="l1" onclick="off3('l1')">1</button>
                <button class="col-sm-2 button6" id="l2" onclick="off3('l2')">2</button>
                <button class="col-sm-2 button6" id="l3" onclick="off3('l3')">3</button>
                <button class="col-sm-2 button6" id="l4" onclick="off3('l4')">4</button>
                <button class="col-sm-2 button6" id="l5" onclick="off3('l5')">5</button>
                <button class="col-sm-2 button6" id="l6" onclick="off3('l6')">6</button>
                <button class="col-sm-2 button6" id="l7" onclick="off3('l7')">7</button>
                <button class="col-sm-2 button6" id="l8" onclick="off3('l8')">8</button>
                <button class="col-sm-2 button6" id="l9" onclick="off3('l9')">9</button>
                <button class="col-sm-2 button6" id="l10" onclick="off3('l10')">10</button>
            </div>
        </div>
        <div>
            <div style="text-align: center;">
                <input type="text" placeholder="FirstName" name="">
                <input type="text" placeholder="LastName" name="">
                <br>
                <button class="button6">click me</button>
            </div>
        </div>
        <div ng-controller="mainController">
            <div>
                <table class="table table-sm table-dark">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>FirstName</th>
                            <th>SecondName</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="student in students">
                            <th scope="row">{{student.id}}</th>
                            <td>{{student.firstName}}</td>
                            <td>{{student.secondName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/temp.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>