<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Phonenumber</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>

<body ng-app="App">
Phonenumber
<div ng-controller="Phonenumber as ctrl" id="block">
    <div class="container-fluid">
        <div class="datagrid">
            <table>
                <thead>
                <tr>
                    <th width="40px">Ідентифікатор</th>
                    <th>номер телефона</th>
                    <th>номер будинку</th>
                    <th>квартира</th>
                    <th>міжмісто</th>
                    <th>тип телефону</th>
                    <th>вулиця</th>
                    <th width="65px">
                        <button type="button" class="btn-success" data-toggle="modal" data-target="#addModal"
                                style="width: 63px" ng-click="ctrl.startInsertPhonenumber()">
                            <i class="fas fa-plus"></i>
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in phonenumbers">
                    <td scope="row">{{item.id}}</td>
                    <td scope="row">{{item.number.number}}</td>
                    <td scope="row">{{item.houseNumber}}</td>
                    <td scope="row">{{item.apartment}}</td>
                    <td scope="row">{{item.interspace?'Так':'Ні'}}</td>
                    <td scope="row">{{item.phoneType}}</td>
                    <td scope="row">{{item.street.name}}</td>
                    <td scope="row">
                        <button type="button" class="btn-warning" data-toggle="modal" data-target="#updateModal"
                                ng-click="ctrl.startUpdatePhonenumber(item.id,item.number.id,item.houseNumber,item.apartment,item.interspace,item.phoneType,item.street.id)"
                                style="width: 30px">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button type="button" class="btn-danger" ng-click="ctrl.delFromPhonenumber(item.id)"
                                style="width: 30px">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--добавление Phonenumber-->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Додавання запису</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Вкажіть номер телефону
                        <br>
                        <select id="PhonenumberNumber">
                        </select>
                        <br>
                        Введіть номер будинку
                        <br>
                        <input type="text" id="PhonenumberHouseNumber">
                        <br>
                        Введіть номер квартири (якщо часний будинок залиште пустим)
                        <br>
                        <input type="text" id="PhonenumberApartment">
                        <br>
                        Міжміський звязок?
                        <br>
                        <input type="checkbox" class="checkbox" id="PhonenumberInterspace">
                        <br>
                        Вкажіть тип телефона
                        <br>
                        <select id="PhonenumberPhoneType">
                            <option>Основний</option>
                            <option>Паралельний</option>
                            <option>Спарений</option>
                        </select>
                        <br>
                        Вкажіть вулицю
                        <br>
                        <select id="PhonenumberStreet">
                        </select>
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.insertToPhonenumber()">Додати</button>
                    </div>
                </div>
            </div>
        </div>

        <!--обновленіє Phonenumber-->
        <div class="modal fade" id="updateModal" tabindex="-2" role="dialog" aria-labelledby="updateModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Обновлення запису</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Ідентифікатор
                        <div id="PhonenumberIdUPD"></div>
                        <br>
                        Вкажіть номер телефону
                        <br>
                        <select id="PhonenumberNumberUPD">
                        </select>
                        <br>
                        Введіть номер будинку
                        <br>
                        <input type="text" id="PhonenumberHouseNumberUPD">
                        <br>
                        Введіть номер квартири (якщо часний будинок залиште пустим)
                        <br>
                        <input type="text" id="PhonenumberApartmentUPD">
                        <br>
                        Міжміський звязок?
                        <br>
                        <input type="checkbox" class="checkbox" id="PhonenumberInterspaceUPD">
                        <br>
                        Вкажіть тип телефона
                        <br>
                        <select id="PhonenumberPhoneTypeUPD">
                            <option>Основний</option>
                            <option>Паралельний</option>
                            <option>Спарений</option>
                        </select>
                        <br>
                        Вкажіть вулицю
                        <br>
                        <select id="PhonenumberStreetUPD">
                        </select>
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.updatePhonenumber()">Обновити
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
</body>
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/phonenumber.js"></script>

</html>