<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Street</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>

<body ng-app="App">
Street
<div ng-controller="Street as ctrl" id="block">
    <div class="container-fluid">
        <div class="datagrid">
            <table>
                <thead>
                <tr>
                    <th width="40px">Ідентифікатор</th>
                    <th>назва</th>
                    <th>регіон</th>
                    <th>індекс</th>
                    <th>кількість каналів</th>
                    <th>атс</th>
                    <th width="65px">
                        <button type="button" class="btn-success" data-toggle="modal" data-target="#addModal"
                                style="width: 63px" ng-click="ctrl.startInsertStreet()">
                            <i class="fas fa-plus"></i>
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in streets">
                    <th scope="row">{{item.id}}</th>
                    <td scope="row">{{item.name}}</td>
                    <td scope="row">{{item.region.name}}</td>
                    <td scope="row">{{item.index}}</td>
                    <td scope="row">{{item.channels}}</td>
                    <td scope="row">{{item.mtc.name}}</td>
                    <td scope="row">
                        <button type="button" class="btn-warning" data-toggle="modal" data-target="#updateModal"
                                ng-click="ctrl.startUpdateStreet(item.id,item.name,item.region.id,item.index,item.channels,item.mtc.id)"
                                style="width: 30px">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button type="button" class="btn-danger" ng-click="ctrl.delFromStreet(item.id)"
                                style="width: 30px">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--добавление Street-->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Добавлення</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Введіть назву вулиці
                        <br>
                        <input type="text" id="StreetName">
                        <br>
                        Вкажіть регіон
                        <br>
                        <select id="StreetRegion">
                        </select>
                        <br>
                        Введіть індекс вулиці
                        <br>
                        <input type="text" id="StreetIndex">
                        <br>
                        Введіть кількість каналів
                        <br>
                        <input type="text" id="StreetChannels">
                        <br>
                        Вкажіть атс
                        <br>
                        <select id="StreetMTC">
                        </select>
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.insertToStreet()">Добавити</button>
                    </div>
                </div>
            </div>
        </div>

        <!--обновленіє Street-->
        <div class="modal fade" id="updateModal" tabindex="-2" role="dialog" aria-labelledby="updateModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Обновлення</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Ідентифікатор
                        <br>
                        <div id="StreetIdUPD"></div>
                        Введіть назву АТС
                        <br>
                        <input type="text" id="StreetNameUPD">
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.updateStreet()">Обновити</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
</body>
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/street.js"></script>

</html>